<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cat Collection</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
  <link href="css/cat_topic.css" rel="stylesheet">


</head>

<body>
  <div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Tiddles</div>
      <div class="sidebar-text">
         <p>This cat is 8 years old.</p>
         <p>I got this cat to keep me company through the lonely nights on top of having someone who got my back no matter what</p>
  </div>


  <div id="page-content-wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container">
      <a class="navbar-brand" href="index.html">Cat Collection</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <!-- <div class="imageframe"> -->
            <!-- Hello World -->
          <!-- </div> -->
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">HomePage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cat List</a>
          </li>
        </ul>
      </div>
      <div class="navbar-brand">
        <img class='imageframe' src='media/images/cat1.jpg'/>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container-fluid">
    <br>
    <img class="center" src='media/images/cat4.jpg'/>
   
    <div class="cat-list-container">
      <ul class="my-4 cat-list-list">
        <li>
          <div class="row">
            <div class="col-2">
              <img class="imageframe img-fluid" src="media/images/cat1.jpg"  alt="empty">
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col">
                  <b>Samuel</b>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <p>Hello here is some text</p>
                </div>
              </div>
            </div>
          </div>
          <br>
        </li>
        <li>
          <div class="row">
            <div class="col-2">
              <img class="imageframe img-fluid" src="media/images/cat1.jpg"  alt="empty">
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col">
                  <b>Samuel</b>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <p>Hello here is some text</p>
                </div>
              </div>
            </div>
          </div>
          <br>
        </li>
        </li>
        <li>
          <div class="row">
            <div class="col-2">
              <img class="imageframe img-fluid" src="media/images/cat1.jpg"  alt="empty">
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col">
                  <b>Samuel</b>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <p>Hello here is some text</p>
                </div>
              </div>
            </div>
          </div>
          <br>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.container -->
    <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Cat Collection 2019</p>
    </div>
    <!-- /.container -->
  </footer>
</div>
</div>

</body>

</html>
